html {
    font-size: 16px;
    box-sizing: border-box;
    background-color: #FBDBC1;
    font-family: Helvetica, Arial, sans-serif;
    color: #1C422B;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #FBDBC1;
    background-color: #1C422B;
}

p {
    font-size: 2rem;
}

.container {
    width: 75%;
    margin: 100px auto 0px auto;
}

@media (max-width: 400px) {
    .container {
        width: 90%;
        margin: auto;
    }

    /*nav {
        align-self: start;
        position: -webkit-relative;
        position: relative;
        top: 0;
                
    }*/
}

main {
    border-bottom: 5px solid #1C422B;
}

.large {
    font-size: 5rem;
    font-weight: 800;
}

.large:hover {
    font-style: italic;
}


.projects li {
    font-size: 2rem;
    padding: 10px 0 10px 0;
}


.contact li {
    font-size: 4rem;
    list-style: none;
    padding: 10px 0 10px 0;
}


